<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/simplebar.min.js"></script>
<script src='/js/jquery.stickOnScroll.js'></script>
<script src="/js/tinycolor-min.js"></script>
<script src="/js/config.js"></script>
<script src="/js/jquery-bootstrap-purr.min.js"></script>

<script src="/js/datatables/jquery.dataTables.min.js"></script>
<script src="/js/datatables/dataTables.colVis.min.js"></script>
<script src="/js/datatables/dataTables.tableTools.min.js"></script>
<script src="/js/datatables/dataTables.bootstrap.min.js"></script>
<script src="/js/datatables/dataTables.buttons.min.js"></script>
<script src="/js/datatables/datatables.responsive.min.js"></script>