<!doctype html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="horizontal dark">
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <h1 class="text-center">
                        Search
                        <span class="semi-bold">Vulnerable Libraries</span>
                        <img id="ajax-loader" class="hidden" src="">
                    </h1>

                    <br>

                    <div class="input-group input-group-lg">
                        <input class="form-control input-lg" type="text"
                               placeholder="Type LibraryName OR LibraryName:Version OR CVE Number" id="search">

                        <div class="input-group-append">
                            <button type="button" id="btnSearch" class="btn btn-primary">
                                Search
                            </button>
                        </div>
                    </div>

                    <br>

                    {{=<% %>=}}
                    <script id="results-script-id" type="text/x-handlebars-template">
                        <h1 class="font-md"> Search Result:
                            <small class="text-danger">{{count}}</small>
                        </h1>
                        <br>

                        <table id="results-table-id"
                               class="table table-responsive table-striped table-bordered table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>CVE</th>
                                <th data-hide="phone,tablet">Source</th>
                                <th>Severity</th>
                                <th data-hide="phone,tablet">Description</th>
                            </tr>
                            </thead>

                            <tbody>
                            {{#data}}
                                <tr class="{{rowSeverityClass}}">
                                    <td>
                                        <a href="{{cveLink}}">{{cve}}</a>
                                    </td>
                                    <td>{{{source}}}</td>
                                    <td>{{{severity}}}</td>
                                    <td>{{description}}
                                        <a href="{{continueToRead}}"><strong>continue to read</strong></a>
                                    </td>
                                </tr>
                            {{/data}}
                            </tbody>
                        </table>

                    </script>
                    <%={{ }}=%>

                    <div id="results-table-div-id"></div>

                </div>
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->
{{> include}}
<script>
    $(document).ready(function () {

        var responsiveHelper_dt_basic = undefined;
        var latestSearchParam = '';

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        $("#search").focus();

        $("#btnSearch").on('click', function (e) {
            var searchParam = $("#search").val();

            if (searchParam.length >= 3) {

                if (searchParam !== latestSearchParam) {

                    $("#ajax-loader").removeClass('hidden');

                    if (searchParam.includes('CVE-') || searchParam.includes('cve-')) {
                        window.location.replace('/cve/' + searchParam);
                    } else {
                        $.ajax({
                            type: 'POST',
                            url: '/search',
                            data: 'param=' + searchParam,
                            dataType: "json",
                            success: function (data, status, xhr) {

                                $("#ajax-loader").addClass('hidden');

                                var template = $('#results-script-id').html();
                                Mustache.parse(template);
                                var rendered = Mustache.render(template, data);
                                $("#results-table-div-id").html(rendered);

                                $('#results-table-id').dataTable({
                                    'paging': false,
                                    'lengthChange': true,
                                    'searching': false,
                                    'ordering': true,
                                    'info': true,
                                    'autoWidth': true,
                                    'responsive': true,
                                    "preDrawCallback": function () {
                                        if (!responsiveHelper_dt_basic) {
                                            responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#results-table-id'), breakpointDefinition);
                                        }
                                    },
                                    "columnDefs": [
                                        {"width": "12%", "targets": 0},
                                        {"width": "6%", "targets": 1}
                                    ]
                                });

                                latestSearchParam = searchParam;

                            },
                            error: function (xhr, status, error) {
                                $("#ajax-loader").addClass('hidden');
                                alert(xhr.responseJSON.message)
                            },
                            complete: function () {
                                $("#ajax-loader").addClass('hidden');
                            }
                        });
                    }

                } else {
                    console.log("Same search param")
                }

            } else {
                alert('Min length is 3')
            }
        });

        $("#search").keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);

            if (keycode === '13') {

                var searchParam = $("#search").val();

                if (searchParam.length >= 3) {

                    if (searchParam !== latestSearchParam) {

                        $("#ajax-loader").removeClass('hidden');

                        if (searchParam.includes('CVE-') || searchParam.includes('cve-')) {
                            window.location.replace('/cve/' + searchParam);
                        } else {
                            $.ajax({
                                type: 'POST',
                                url: '/search',
                                data: 'param=' + searchParam,
                                dataType: "json",
                                success: function (data, status, xhr) {

                                    $("#ajax-loader").addClass('hidden');

                                    var template = $('#results-script-id').html();
                                    Mustache.parse(template);
                                    var rendered = Mustache.render(template, data);
                                    $("#results-table-div-id").html(rendered);

                                    $('#results-table-id').dataTable({
                                        'paging': false,
                                        'lengthChange': true,
                                        'searching': false,
                                        'ordering': true,
                                        'info': true,
                                        'autoWidth': true,
                                        'responsive': true,
                                        "preDrawCallback": function () {
                                            if (!responsiveHelper_dt_basic) {
                                                responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#results-table-id'), breakpointDefinition);
                                            }
                                        },
                                        "columnDefs": [
                                            {"width": "12%", "targets": 0},
                                            {"width": "6%", "targets": 1}
                                        ]
                                    });

                                    latestSearchParam = searchParam;

                                },
                                error: function (xhr, status, error) {

                                    $("#ajax-loader").addClass('hidden');
                                    alert(xhr.responseJSON.message)

                                },
                                complete: function () {

                                    $("#ajax-loader").addClass('hidden');

                                }
                            });
                        }


                    } else {
                        console.log("Same search param")
                    }

                } else {
                    alert('Min length is 3')
                }

            }
        });

    });
</script>
</body>
</html>